extends layout

block css
  link(rel='stylesheet', href="#{url('appearance/style.less')}")
  
block js
  script(src="#{url('controllers/app.coffee')}")

block molecules
  link(rel="import", href="/molecules/app-login")
  link(rel="import", href="/molecules/app-seed")

block content
  app-login(model="login")
  app-seed