extends layout

block css
    link(rel='stylesheet', href="#{url('appearance/style.less')}")
  
block js
    script(src="#{url('controllers/app.coffee')}")

block molecules
    link(rel="import", href="/molecules/app-user-preference")
    link(rel="import", href="/molecules/app-login")
    link(rel="import", href="/molecules/app-seed")

block content
    .container
        .row
            app-login.col-md-3(model="main/models/login")
            app-login.col-md-3(model="main/models/login")
            app-user-preference.col-md-3(model="main/models/user-preference")
        .row
            app-seed.col-md-12