extends layout

block css
    link(rel="stylesheet", href="#{url('appearance/animate.css')}")
    style.
        :host{display:block;}
        .dropdown,.view{display:none;}
        .action{cursor:pointer;}
        td{cursor:pointer;}

block js
    script(src="#{url('controllers/animate.js')}")
    script(src="#{url('controllers/script.coffee')}")

block molecules

block content
    #view-none.view
        .alert.alert-warning(role="alert")
            big.glyphicon.glyphicon-exclamation-sign &nbsp;
            span Please login to access admin controls
    #view-list.view
        #view-warning.view
            .alert.alert-warning(role="alert")
                big.glyphicon.glyphicon-exclamation-sign &nbsp;
                span {{_message}}
        #view-success.view
            .alert.alert-success(role="alert")
                big.glyphicon.glyphicon-ok &nbsp;
                span {{_message}}
        h1.text-warning Molecules
            small &nbsp; Select molecule to configure
            .action.pull-right(on-click="_add") +
        table.table.table-hover: tbody
            template(is="dom-repeat", items="{{_list}}")
                tr(on-mouseover="_showActions", on-mouseout="_hideActions")
                    td: h4 {{item.name}}
                    td
                        .dropdown.pull-right
                            button#showActions.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Actions &nbsp;
                                span.caret
                            ul.dropdown-menu(role="menu", aria-labelledby="showActions")
                                li: a(href="javascript:null", on-click="_rename", data-id$="{{item.name}}") Rename
    #view-add.view
        h2.text-warning Create Molecule
            .action.pull-right(on-click="_closeAction") &times;
        .form-group
                h4 Name
                input.form-control#input-name(type="text", placeholder="app-seed, myapp-task ...")
            .btn-group
                button.btn.btn-default(on-click="_closeAction") Cancel
                button.btn.btn-primary(on-click="_add_done") Done
    #view-rename.view
        h2.text-warning {{_molecule}}
            .action.pull-right(on-click="_closeAction") &times;
        .form-group
                h4 Rename
                input.form-control#input-name(type="text", value$="{{_molecule}}")
            .btn-group
                button.btn.btn-default(on-click="_closeAction") Cancel
                button.btn.btn-primary(on-click="_rename_done") Done