extends layout

block css
  link(rel="stylesheet", href="#{url('style.less')}")
  
block js
  script(src="#{url('script.coffee')}")
  
block molecules

block content
  h2.page-title {{greeting}}
  span.paper-font-body2 Update text to change the greeting.
  input.paper-font-body2(value="{{greeting::input}}")
