extends layout

block css
    style.
        :host{display:block;width:350px;}
        h4{margin-top:0px;}
        #view-list{display:flex;flex-flow:row wrap;padding-bottom:5px;padding-right:5px;}
        .panel-heading{text-align:center;}
        .panel-heading .action{float:right;font-size:1.7em;line-height:20px;cursor:pointer;display:none;}
        .label{margin-right:10px;margin-bottom:10px;font-size:0.9em;color:#777;flex-grow:1;}
        .label .glyphicon{font-size:0.9em;color:white;cursor:pointer;float:right;}
        .panel-body{display:none;}
        .btn-group{float:right;}

block js
    script(src="#{url('controllers/script.coffee')}")

block molecules

block content
    .panel.panel-primary
        .panel-heading
            span User Preferences
            .action(on-click="_add") +
        #view-login.panel-body Please login to add/view your preferences
        #view-empty.panel-body You have no preferences yet. Click on plus to add one.
        #view-list.panel-body
            template(is="dom-repeat", items="{{preferences}}")
                span.label.label-warning {{item.preference}}&nbsp;&nbsp;&nbsp;
                    span.glyphicon.glyphicon-remove-sign
        #view-add.panel-body
            h4 Add Preference
            .form-group
                input.form-control#new(type="text", placeholder="music, traveling...")
            .btn-group
                button.btn.btn-default(on-click="_cancel") Cancel
                button.btn.btn-primary(on-click="_add_done") Done