extends layout

block css
    style.
        :host{display:block;width:350px;}
        .panel-heading{text-align:center;}

block js
    script(src="#{url('controllers/script.coffee')}")

block molecules

block content
    .panel.panel-primary
        .panel-heading User Preferences
        .panel-body Please login to add/view your preferences